---
import cave from "../assets/garden/cave.gif";
import miner from "../assets/garden/mc-pikachu.gif";
import man from "../assets/garden/meme_man.png";
import gnome from "../assets/garden/gnome.webp";
import reodor from "../assets/garden/reodor.png";
import hole from "../assets/garden/hole.jpg";
import n1 from "../assets/garden/N1.jpg";
import birb from "../assets/garden/birb.gif";
import golden from "../assets/garden/golden.png";
import car from "../assets/garden/tempo.jpg";
import erren from "../assets/garden/AOT_Erren.png";
import gandalf from "../assets/garden/gandalf.gif";
import bear from "../assets/garden/bear.gif";
import btn from "../assets/garden/explorer_btn.gif";
import l from "../assets/garden/L.gif";
import pillar from "../assets/garden/pillar.png";
import web from "../assets/garden/web.png";
import spider from "../assets/garden/spider.gif";
import spider2 from "../assets/garden/spider2.gif";
import stars from "../assets/garden/stars.gif";
import star from "../assets/garden/star.gif";
import dp from "../assets/garden/daft_punk.gif";
import sun from "../assets/garden/sun.gif";
import skull from "../assets/garden/skull.jpg";
import panik from "../assets/garden/panik.png";
import goldenMP3 from "../assets/garden/golden.mp3";
---

<div class="caveDiv">
  <img class="cave" src={cave.src} />
  <img class="miner" src={miner.src} />
</div>

<img class="skull" src={skull.src} />

<div class="golden-reodor">
  <img id="goldenSpinner" class="golden" src={golden.src} />
  <div class="reodor">
    <div class="reodor-fix"></div>
    <img src={reodor.src} />
  </div>
  <audio id="goldenMP3" src={goldenMP3} preload="auto" loop></audio>
</div>
<script is:inline>
  const el = document.getElementById("goldenSpinner");
  const audio = document.getElementById("goldenMP3");
  let spinning = false;
  function playGolden() {
    if (!spinning) {
      el.style.animationPlayState = "running";
      audio.play().catch(() => {});
      spinning = true;
    } else {
      el.style.animationPlayState = "paused";
      audio.pause();
      spinning = false;
    }
  }
  el.addEventListener("click", playGolden);
</script>

<div class="welcome">
  <div class="text">
    <span>Welcome to the garden! </span>

    <p>
      Sometimes called a "digital scrapbook," this follows a tradition from the
      early internet. Here I gather things that feel precious and lost. The page
      is always a work in progress. A small reflection of myself in the wider
      zeitgeist. Do have a look around!
    </p>
  </div>
  <btn class="homeBtn" onmouseup="window.location.href='/';"
    >Welp! Take me home!</btn
  >

  <img id="kalm" class="man" onclick="panik()" src={man.src} />
  <img id="panik" class="man panik" src={panik.src} />
  <img
    class="btn"
    onclick="window.location.href='https://geekprank.com/'"
    src={btn.src}
  />
</div>
<script is:inline>
  function panik() {
    console.log("panik");
    const img = document.getElementById("panik");
    img.style.visibility = "visible";
    setTimeout(() => {
      img.style.visibility = "hidden";
    }, 3000); // show for 1.5 seconds
  }
</script>

<img class="spider" src={spider.src} />
<img class="spider2" src={spider2.src} />

<img class="pillar" src={pillar.src} />

<!--img class="gandalf" src={gandalf.src} /-->

<img class="n1" src={n1.src} />

<img class="birb" src={birb.src} />

<img class="gnome" src={gnome.src} />

<img class="car" src={car.src} />

<img class="erren" src={erren.src} />

<img class="star" src={star.src} />

<img class="dp" src={dp.src} />

<img class="l" src={l.src} />

<img class="sun" src={sun.src} />

<!-- ######################################################################## CSS ######################################################################## -->

<style>
  /* --- --- --- --- GENNERAL --- --- --- --- */

  html,
  body {
    font-family: sans-serif, "Fira Sans", sans;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    background-image: url(/images/diamond.png);
    background-repeat: repeat; /* default, tiles both directions */
    background-color: rgb(0, 0, 0); /* fallback color behind image */
    background-size: 40px;

    * {
      position: absolute;
    }
  }

  /* --- --- --- --- WELCOME --- --- --- --- */

  .welcome {
    top: 100px;
    left: 150px;

    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

    font-size: 18px;

    .man {
      height: 250px;
    }

    .panik {
      left: 10px;
      visibility: hidden;
      animation: shake 80ms linear infinite;
      animation-play-state: running;
    }

    .text {
      border: 8px groove rgb(13, 255, 223);
      background-color: #4eff37;

      width: 550px;
      height: 220px;

      left: 120px;
      top: 40px;

      span {
        top: 14px;
        left: 80px;
        font-size: 1.1em;
        font-weight: bold;
      }

      p {
        top: 26px;
        left: 80px;

        margin-right: 1em;
        text-align: justify;
      }
    }

    .homeBtn {
      width: 200px;
      padding: 2px 10px;

      position: absolute;
      top: 227px;
      left: 447px;

      background-color: rgb(0, 0, 255);
      color: rgb(255, 255, 255);
      cursor: pointer;

      border: 3px solid;
      border-top-color: #cce0ff;
      border-left-color: #99c2ff;
      border-right-color: #003366;
      border-bottom-color: #001a33;
    }

    .homeBtn:active {
      border-top-color: #001a33;
      border-left-color: #003366;
      border-right-color: #99c2ff;
      border-bottom-color: #cce0ff;
    }

    .btn {
      left: 583px;
      top: 55px;
      cursor: pointer;
    }
  }

  /* panik */
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  /* --- --- --- --- GOLDEN REODOR --- --- --- --- */

  .golden-reodor {
    left: 830px;
    top: 90px;

    .golden {
      height: 800px;

      animation: slowspin 40s linear infinite;
      animation-play-state: paused;
    }

    .reodor {
      top: 350px;
      left: 580px;

      .reodor-fix {
        height: 30px;
        width: 60px;
        background-color: rgb(194, 194, 194);
        top: 40px;
        left: 60px;
      }
    }
  }
  @keyframes slowspin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* --- --- --- --- CAVE --- --- --- --- */

  .caveDiv {
    top: calc(40px * 28);
    left: calc(40px * 9);

    .cave {
      height: calc(40px * 8);
    }

    .miner {
      height: 40px;
      top: calc(40px * 5);
      left: calc(40px * 1);
    }
  }

  /* --- --- --- --- GOOD --- --- --- --- */

  .n1 {
    top: 462px;
    left: 320px;
  }

  .birb {
    transform: scaleX(-1);
    height: 140px;
    top: 330px;
    left: 320px;
  }

  .l {
    height: 200px;
    top: 1033px;
    left: 190px;
    transform: rotate(180deg);
    border-radius: 50%;
  }

  .skull {
    height: 900px;
    top: 850px;
    left: 890px;

    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.479); /* chunky shadow */
  }
  /* --- --- --- --- DIV --- --- --- --- */

  .hole {
    left: 600px;
    top: 700px;
    height: 300px;
    border-radius: 50%;
    transform: rotate(90deg);
  }

  .gnome {
    top: 5000px;
    left: 0px;
  }

  .car {
    top: 1092px;
    left: 5800px;
    height: 500px;
  }

  .erren {
    height: 234px;
    left: 1700px;
    top: 1294px;
  }

  .gandalf {
    height: 150px;
    top: 303px;
    left: 463px;
  }

  .bear {
    top: 1095px;
    left: 515px;
    height: 210px;
  }

  .pillar {
    top: 796px;
    left: 1010px;
    height: 5320px;
  }

  .web {
    height: 500px;
    top: 5450px;
    left: 700px;
  }

  .spider {
    height: 80px;
    top: 5670px;
    left: 770px;
  }

  .spider2 {
    height: 80px;
    top: 5790px;
    left: 950px;
  }

  .stars {
    height: 380px;
    top: 5126px;
    left: 240px;
  }

  .star {
    height: 120px;
    top: 5546px;
    left: 160px;
  }

  .dp {
    height: 400px;
    top: 51226px;
    left: 290px;
  }

  .sun {
    height: 200px;
    top: 5910px;
    left: 1180px;
  }
</style>
